<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Simulasi Kredit Pegawai Plus
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="timer"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="height: 100%">
        <ion-text style="text-align: center" color="danger">
            <h1>Under Construction</h1>
        </ion-text>
    </div>
</ion-content>