::ng-deep .custom-modal-css .modal-wrapper {
    height: 84%;
    top: 8%;
    position: absolute;
    display: block;
    width: 90%;
}

::ng-deep div[scrollx="true"] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .scroll-item {
        flex: 0 0 auto !important;
    }
}